.HomePageLogo{
  margin: 0 auto;
  padding:0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./PicturesUsed/Background.png");
  background-size: 1300px 845px;
  background-repeat: no-repeat;
  max-width: 1600px;
}

ul{
  padding:0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#e6e6e6;
}

.nav {
  display: block;
  line-height: 80px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.nav li{
  font-size: 40px;

}

.pokemonlogo
{
  position: relative;
  top:-180px;
  left:550px;
}

.button{
  position: relative;
  left:120px;
}

.dexList{
  /* border: 1px solid black; */
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #f1f1f1; */
  position: absolute;
  top: 8%;
  right: 10%;
  left: 12%;
}

.pokedexBack{
  background-image: url('./PicturesUsed/Pokedex_back.png');
  background-size: 800px 586px;
  background-repeat: no-repeat;
  height: 586px;
  width: 800px;
  position: absolute;
  top: 25%;
  left: 36%;
  right: 36%;
}


.instructions-container{
 position: absolute;
 right:220px;
 bottom:100px;
 font-size: 30pt;
 text-align: center;
}



.pokedex_header{
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
}

.pokemonbattle_header{
  position: absolute;
  top: 20px;
  left: 45%;
  right: 50%;
}

h2{
  text-align: center;
  width: fit-content;
  position: absolute;
  top: 18%;
  left: 48%;
  right: 50%;
}

.selectPokemonHeader{
  left:51%;
}

.selectPokemonHeader2{
  left:40%;
}

.battleBTN{
  width: 100px;
  height: 100px;
  background-color: white;
  border: black solid 10px;
  border-radius: 50%;
  margin-top: 102px;
  margin-left: 190px;
}

.battleBTN:hover{
  background-color: #e5e5e5;
}

.battleLink{
  position: relative;
  border-radius: 40%;
  padding: 30px;
  color: transparent;
  top: 40px;
}