.HomePageLogo{
  margin: 0 auto;
  padding:0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./PicturesUsed/Background.png");
  background-size: 1300px 845px;
  background-repeat: no-repeat;
  max-width: 1600px;
  max-height:845px;
}

ul{
  padding:0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#e6e6e6;
}

.nav {
  display: block;
  line-height: 80px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.nav li{
  font-size: 40px;

}

.pokemonlogo
{
  position: relative;
  top:-180px;
  left:550px;
}

.button{
  position: relative;
  left:120px;
}

.dexList{
  /* border: 1px solid black; */
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #f1f1f1; */
  position: absolute;
  top: 8%;
  right: 10%;
  left: 12%;
}

.pokedexBack{
  background-image: url('./PicturesUsed/Pokedex_back.png');
  background-size: 800px 586px;
  background-repeat: no-repeat;
  height: 586px;
  width: 800px;
  position: absolute;
  top: 25%;
  left: 36%;
  right: 36%;
}


.instructions-container{
 position: absolute;
 right:220px;
 bottom:100px;
 font-size: 30pt;
 text-align: center;
}



.pokedex_header{
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
}

.pokemonbattle_header{
  position: absolute;
  top: 20px;
  left: 45%;
  right: 50%;
}

h2{
  text-align: center;
  width: fit-content;
  position: absolute;
  top: 18%;
  left: 48%;
  right: 50%;
}

.selectPokemonHeader{
  left:51%;
}

.selectPokemonHeader2{
  left:40%;
}

.battleBTN{
  width: 100px;
  height: 100px;
  background-color: white;
  border: black solid 10px;
  border-radius: 50%;
  margin-top: 102px;
  margin-left: 190px;
}

.battleBTN:hover{
  background-color: #e5e5e5;
}

.battleLink{
  position: relative;
  border-radius: 40%;
  padding: 30px;
  color: transparent;
  top: 40px;
}
.entry_layout{
  background-color: #f1f1f1;
  border: black solid 2px;
  border-radius: 20px;
  width: 588px;
  height: 392px;
  margin-top: 75px;
  margin-left: 106px;
}

.entry_head {
  color: white;
  text-align: right;
  background-color: #0280bb;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid black;
  margin-left: -2px;
  margin-top: -2px;
  width: 578px;
}

.entry_head a:hover {
  font-weight: bold;
}

.entry_desc{
  /* position: relative; */
  width: 508px;
  height: 84px;
  border: 1px solid black;
  border-left: 20px solid #0280bb;
  border-right: 20px solid #0280bb;
  border-radius: 20px;
  background-color: #c5c5c5;
  margin: 0 auto;
  margin-top: -25px;
  padding: 15px;
}

.entry_left{
  width: fit-content;
  height: fit-content;
  border-right: 1px solid black;
}

.entry_float{
  height:230px;
}

.pokedexNumber{
  font-size:25px;
  position: relative;
  left:360px;
  bottom:297px;
  font-weight: bold
}

.pokemonName{
  font-size:25px;
  position: relative;
  font-weight: bold;
  bottom:350px;
  left:430px;
}

.pokeballpicture{
  position: relative;
  left:290px;
  bottom:230px;
}

.pokemonType{
  position: relative;
  font-weight: bold;
  font-size:20px;
  text-align: center;
  left:415px;
  bottom:370px;
  border: 2px solid #000000;
  width:70px;
  border-radius: 40px;
}

.pokemonCategory{
  position: relative;
  font-weight: bold;
  font-size:20px;
  text-align: center;
  bottom:360px;
  left:160px;
}


.select_pokemon {
  cursor: pointer;
}

.battlegrounds {
  background-image: url('./PicturesUsed/battle_background.png');
  background-repeat: no-repeat;
  background-size: 1280px 596px;
  width: 1280px;
  height: 596px;
  margin-top: -17%;
  margin-left: 20%;
  /* border: red solid 5px; */
}
.moveset_tb{
  width: 1280px;
  text-align: center;
  padding: 10px;
  background-color: orange;
}

td{
  font-size: 21pt;
  color: teal;
  font-weight: bold;
  padding: 25px;
  background-color: white;
  border: grey solid 2px;
}

.td_left_top {
  border-top-left-radius: 20px;
}

.td_right_top {
  border-top-right-radius: 20px;
}

.td_left_bot {
  border-bottom-left-radius: 20px;
}

.td_right_bot {
  border-bottom-right-radius: 20px;
}

.run_option{
  border-radius: 20px;
}

td:hover{
  background-color: wheat;
}

.runBTN{
  border: red solid 1px;
  color:teal;
}

.hero_Box{
height: 400px;
/* border: blue solid 5px; */
}

.moveset_tb{
  position: relative;
  top:25px;
}

.enemy_Box{
  height: 300px;
  padding: 20px;
/* border: yellow solid 5px; */
}

.sprite_Name {
  font-weight: 550;
  text-transform: uppercase;
  text-shadow: 2px 2px lightgrey;
}

.hero_sprite {
  position: absolute;
  top: 28%;
  left: 26%;
}

.hero_Stats{
  background-color: beige;
  width: 360px;
  height: 80px;
  border-radius: 15px;
  border: #506860 5px solid;
  margin-top: 100px;
  margin-left: 750px;
  padding: 20px;
}

.enemy_Stats{
  background-color: beige;
  width: 360px;
  height: 80px;
  border-radius: 15px;
  border: #506860 5px solid;
  margin-left: 80px;
  padding: 20px;
}

.enemy_sprite {
  position: absolute;
  top:0%;
  right: 7%;
}