.HomePageLogo{
  margin: 0 auto;
  padding:0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./PicturesUsed/Background.png");
  background-size: 1300px 845px;
  background-repeat: no-repeat;
  max-width: 1600px;
  max-height:845px;
}

ul{
  padding:0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#e6e6e6;
}

.nav {
  display: block;
  line-height: 80px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.nav li{
  font-size: 40px;

}

.pokemonlogo
{
  position: relative;
  top:-180px;
  left:550px;
}

.button{
  position: relative;
  left:120px;
}

.dexList{
  /* border: 1px solid black; */
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #f1f1f1; */
  position: absolute;
  top: 8%;
  right: 10%;
  left: 12%;
}

.pokedexBack{
  background-image: url('./PicturesUsed/Pokedex_back.png');
  background-size: 800px 586px;
  background-repeat: no-repeat;
  height: 586px;
  width: 800px;
  position: absolute;
  top: 25%;
  left: 36%;
  right: 36%;
}


.instructions-container{
 position: absolute;
 right:220px;
 bottom:100px;
 font-size: 30pt;
 text-align: center;
}



.pokedex_header{
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
}

.pokemonbattle_header{
  position: absolute;
  top: 20px;
  left: 45%;
  right: 50%;
}

h2{
  text-align: center;
  width: fit-content;
  position: absolute;
  top: 18%;
  left: 48%;
  right: 50%;
}

.selectPokemonHeader{
  left:51%;
}

.entry_layout{
  background-color: #f1f1f1;
  border: black solid 2px;
  border-radius: 20px;
  width: 588px;
  height: 392px;
  margin-top: 75px;
  margin-left: 106px;
}

.entry_head {
  color: white;
  text-align: right;
  background-color: #0280bb;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid black;
  margin-left: -2px;
  margin-top: -2px;
  width: 578px;
}

.entry_head a:hover {
  font-weight: bold;
}

.entry_desc{
  /* position: relative; */
  width: 508px;
  height: 84px;
  border: 1px solid black;
  border-left: 20px solid #0280bb;
  border-right: 20px solid #0280bb;
  border-radius: 20px;
  background-color: #c5c5c5;
  margin: 0 auto;
  margin-top: -25px;
  padding: 15px;
}

.entry_left{
  width: fit-content;
  height: fit-content;
  border-right: 1px solid black;
}

.entry_float{
  height:230px;
}

.pokedexNumber{
  font-size:25px;
  position: relative;
  left:360px;
  bottom:297px;
  font-weight: bold
}

.pokemonName{
  font-size:25px;
  position: relative;
  font-weight: bold;
  bottom:350px;
  left:430px;
}

.pokeballpicture{
  position: relative;
  left:290px;
  bottom:230px;
}

.pokemonType{
  position: relative;
  font-weight: bold;
  font-size:20px;
  text-align: center;
  left:415px;
  bottom:370px;
  border: 2px solid #000000;
  width:70px;
  border-radius: 40px;
}

.pokemonCategory{
  position: relative;
  font-weight: bold;
  font-size:20px;
  text-align: center;
  bottom:360px;
  left:160px;
}

